/.DS_Store
/.env
/.ruff_cache
/.venv
/01-generate-prompts-collab.ipynb
/01_create_prompts.py
/01_generate_haikus.ipynb
/01_prompts.py
/02_generate_haikus.py
/02_rule_based_ranking.ipynb
/03_argilla.ipynb
/Distilabel_Demo.ipynb
/OpenHermes-2.5-Mistral-7B-GGUF
/Untitled-1.py
/Untitled277(1).ipynb
/ckpt
/haiku_raw
/notus-7b-v1.Q4_K_M.gguf
/ollama-model-files
/test.py